.body{
   font-family: 'Poppins', sans-serif;
}
.text-dark-color{
   color: antiquewhite;

}
.navber-primary{
   color:darkorchid;
}
.fas{
   color: magenta;
}
.container h1{
   color: cyan;
}
.footer-color{
   background-color: midnightblue;
}

   
